# Wamp root
/alias
/apps
/cgi-bin
/files
/lang
/logs
/save
/scripts
/tmp
/www
/node_modules
/*.txt
/*.bmp
/*.bat
/*.msg
/unins000.*
/wampmanager.*

# Obsidian vault config
.obsidian/workspace*.json

# dotenv environment variable files
_env
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# apps
# /apps/adminer*
# /apps/phpsysinfo*
# /apps/phpmyadmin*/doc
# /apps/phpmyadmin*/examples
# /apps/phpmyadmin*/js
# /apps/phpmyadmin*/libraries
# /apps/phpmyadmin*/locale
# /apps/phpmyadmin*/setup
# /apps/phpmyadmin*/sql
# /apps/phpmyadmin*/templates
# /apps/phpmyadmin*/themes
# /apps/phpmyadmin*/tmp
# /apps/phpmyadmin*/vendor
# /apps/phpmyadmin*/*.json
# /apps/phpmyadmin*/*log
# /apps/phpmyadmin*/composer.*
# /apps/phpmyadmin*/contributing.md
# /apps/phpmyadmin*/*.ico
# /apps/phpmyadmin*/index.php
# /apps/phpmyadmin*/LICENSE
# /apps/phpmyadmin*/README
# /apps/phpmyadmin*/release-*
# /apps/phpmyadmin*/*.txt
# /apps/phpmyadmin*/show_config_errors.php
# /apps/phpmyadmin*/url.php
# /apps/phpmyadmin*/yarn.lock

# bin/MariaDB
/bin/MariaDB

# bin/Apache/
/bin/apache/*/*
/bin/apache/*/conf/original
!/bin/apache/*/conf
/bin/apache/modules_sup
/bin/apache/*/*.*

# bin/MySQL
/bin/mysql/*/*
!/bin/mysql/*/my.ini

# bin/PHP
/bin/php/DO_NOT_DELETE_*
/bin/php/*/*
!/bin/php/*/php.ini*
!/bin/php/*/phpForApache.ini
